.Card{
  width:100%;
 
  color: #111111;
  font-family: arial;
  overflow-wrap: break-word;
  border-radius: 5px;

               @media  (min-width: 1px) and (max-width: 425px) {
             
                margin: 0 auto;
                
                }
              @media  (min-width: 426px) and (max-width: 768px) {
               
              }
              @media  (min-width: 769px) and (max-width: 2560px) {
            
              }
            
}
.CardDetails{
 
}
.CardIntroHolder{
  display: flex;
}
.CardTitleHolder{
 width: 100%;

}    
.FlexCard{
  flex-wrap: wrap;
  overflow-y: auto;
  min-width: 100%;
  max-width: 100%;
 
  background: #dde3ea;
  
  
  @media  (min-width: 1px) and (max-width: 425px) {
    overflow-y: auto;
overflow-x: auto;

    }
}

.FlexCard::-webkit-scrollbar {
  width: .80rem;
  height: .80rem;
}
::-webkit-scrollbar-track {
  background-color: #edf2f7;
}
::-webkit-scrollbar-thumb {
  background-color: #0067d6;
  
}
