$myColor:rgb(249, 249, 249);

.LeftNav {
  background-color: $myColor;
  width:240px;
  min-height: 100vh;
 @media (min-width:0px) and (max-width:768px){
      display: none;
      width:2409px;
  }
  ul{
    padding-left: 16px;
    padding-top: 16px;
  li{
    padding: 12px;
    width: 192px;
    height: 16px;
    color: rgba(0, 0, 0, 0.67);
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }
}

}