@use '_Card';


html,body{
  height: 100vh;
  width:100vw;
  overflow-x: hidden;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 1.5715;
  font-family: arial;
  background: #313131!important;
}

h5{
  font-weight: bolder!important;
  color: #007bff!important;
}
  
h1{
  color: #007bff!important;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 0rem;
  background: #313131!important;
  border-radius: .3rem;
  color: #007bff!important;
}

input,option,select{
  background: transparent!important;
    border: none!important;
    color:white!important;
    
    height: 45px!important;

}
.input-group-text{
  background: transparent!important;
  border: none!important;
}

.input-group{
  border-radius: 10px;
  box-shadow: 4px 2px 6px #212121, -4px -3px 6px #212121;
}

.text{
  border: none;
    border-radius: 10px;
    box-shadow: 4px 2px 6px #212121, -4px -3px 6px #212121;
    background: transparent;
}

.fa, .fas {
  font-weight: 900;
  color: white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px #313131 inset;
  
  border: none!important;
  border-radius: 20px;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #313131 inset;

  border: none!important;
  border-radius: 10px;

}

.form-control{
  background: transparent;
    border: none;
        background: #313131!important;
    /* border: none; */
    border-radius: 10px;
  
}


.form-control:-webkit-autofill{
  box-shadow: 0 0 0 50px #313131 inset;
  border: none!important;
  border-radius: 10px;
  
}


.form-control:-webkit-autofill:focus{
  box-shadow: 0 0 0 50px #313131 inset;
  border: none!important;
  border-radius: 10px;

}
.btn{
  border-radius: 10px;
    box-shadow: 4px 2px 6px #212121, -4px -3px 6px #212121;
    margin-top: 50px;
    margin-right: 14px;
}