@use '_Card';


html,body{
  height: 100vh;
  width:100vw;
  overflow-x: hidden;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 1.5715;
  background: #f3f3f3!important;
  
}
p{
  margin: 0!important;
  padding: 0;
}
.btn-primary{
  margin: 0!important;
  padding: 0px 40px;
}
table{
  width: 100%;

}
.clock{
  font-size: 20px;
  font-weight: bold;
}
#m,#h{
  padding: 10px;
    background: #dde3ea;
}

.titleAndClock{
  display: flex!important;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
  
tr{
  min-width: 100%;
}  
 

td{
  
  max-width: 0px;
  padding: 5px 15px;
  @media  (min-width: 1px) and (max-width: 425px) {
    min-width: 150px;
    max-width: 150px;
    }
}      

h5{
 
  color: #598bc1!important;
  font-family: 'Open Sans Condensed', arial;
}
  
h1{
  color: white!important;
 
  font-family: 'Open Sans Condensed', arial;
}

.text{

    padding: 0px 5px!important;
}
input,select{
  background: transparent!important;
    border: none!important;
    color:white!important;
    margin-right:10px!important;
    height: 45px!important;
   
}
option{
  background:#598bc1!important;
    border: none!important;
    color:white!important;
    height: 45px!important;

}
.input-group-text{
  background: transparent!important;
  border: none!important;
}

.input-group{
  margin-bottom: 1rem!important;
  background: #f8f8f8;
}
.form-group{
  margin-bottom: 0rem;

}
.text{
  border: none;

 
    background: transparent;
}


input:-webkit-autofill {

  
  border: none!important;

}

input:-webkit-autofill:focus {


  border: none!important;
 

}

.form-control{
padding: 0px ;

    border: none;
    
    /* border: none; */
    
    color: grey!important;
}


.form-control:-webkit-autofill{

  border: none!important;
 
  
}


.form-control:-webkit-autofill:focus{

  border: none!important;


}
.btn{
 
  border-radius: 0px;
    
    margin-left: 14px;
    background: #313131!important;
    color: white;
}

.clear{
margin-bottom: 0;
   
    

    color: white;
  background: transparent!important;
    transition: all 0.1s ease-in-out;
    &:hover{
  
      .fa, .fas {
        color: #0257b1!important;
      }
      .far {
        color: rgb(185, 14, 14)!important;
      }
    }
}
.p300{
  word-break: break-word;
  max-width: 150px;
  @media  (min-width: 1px) and (max-width: 425px) {
    min-width: 300px;
    white-space: unset;
    word-break: break-word;
    }
}

.fa, .fas {
  font-weight: 900;
  color: #598bc1;
}

.far {
  color: rgb(224, 10, 10)!important;
}
.t-head{
  background: #598bc1;
  color: white;
 
}
.white{
  color: white;
  padding-right: 10px;
}
.t-d{
  padding: 15px;
}
p{
  padding-top: 5px;
  font-family: "Open Sans Condensed", arial;
 margin: 0;

}

.Flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.MainFlex{
  display: flex;
 
}

.w-30{
  min-width: 20%;
  padding-left: 2%;
  min-height: 100vh;
  padding-right: 2%;
  background: #598bc1;
 top: 0;
 @media  (min-width: 1px) and (max-width: 425px) {
  min-width: 100%;
  padding-bottom: 20%;
  padding-right: 5%;
  padding-left: 5%;
  }
}



.hidden{
  opacity: 0;
  display: none;
 
}

.rotateicon{
  transition: all 0.4s ease-in-out;
  transform: rotateZ(180deg);
}
#iconBtn{
  transition: all 0.5s ease-in-out;
  background: #598bc1;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  
}
#icon{
  font-size: 30px;
  padding: 4px 18px;
  margin: 0;
  color: #f8f8f8;
  border: none;
  transition: all 0.4s ease-in-out!important;
}
.iconb{
  color: #598bc1!important;

}
.iconbtn{
 
  background: white!important;
}
.Form{
  margin-bottom: 36px;
  @media  (min-width: 1px) and (max-width: 425px) {
    margin: 0 auto;
    }
  @media  (min-width: 426px) and (max-width: 768px) {
  }
  @media  (min-width: 769px) and (max-width: 1024px) {
  }
  @media  (min-width: 1025px) and (max-width: 1440px) {
    
  }
  @media  (min-width: 1441px) and (max-width: 2560px) {
    
  }
}

.formHolder{
  background: red;

}

.popup{
  display: none;
  position: fixed;
  width: 100vw;
  background: #202020de;
  height: 100vh;
  z-index: 2;
}
.popUpHolder{
  background: white;
  width: 30%;
  padding: 20px;
  @media  (min-width: 1px) and (max-width: 425px) {
    width: 70%;
    }
}
.popUpActive{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease-in-out;
}
.popUpBtn{
  background:#b4b4b4;
  border: 0;
  padding: 10px 40px;
  margin: 10px;
  margin-left: 0;
  transition: all 0.1s ease-in-out;
  &:hover{
    background: #598bc1;
  }
}
.taskHolder{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  @media  (min-width: 1px) and (max-width: 425px) {
    padding: 25% 0%;
    height: 100vh;
    padding-bottom: 0px;
    }
}
#taskTotal{
  color: #598bc1;
  font-weight: bold;
}
.taskHolderHeading{
  color: #202020!important;
  font-weight: bold;

  @media  (min-width: 1px) and (max-width: 425px) {
    padding: 0% 10%;
    }
}

#emptymessage{
  padding-bottom: 1%;
  @media  (min-width: 1px) and (max-width: 425px) {
    padding: 0% 10%;
    padding-bottom: 5%;
    }
}
.heading{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 80px;
  padding-bottom: 10px;
  margin-bottom: 0;
  @media  (min-width: 1px) and (max-width: 425px) {
    padding: 60px;
    padding-top: 60px;
    padding-bottom: 10px;
    }
}


.notes{
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 10px;
}
.notess{
 
 white-space: unset;
 @media  (min-width: 1px) and (max-width: 425px) {
  min-width: 250px;
  }
}