

@use '_Reset';
@use '_LeftNav';
@use '_Overlay';
@use '_AddPerson';
@use '_AddPersonForm';
@use '_Model';
@use '_List';

$myColor:rgb(249, 249, 249);
$myColor2: white;

button{
  outline:none!important;
}
html,body{
  height: 100vh;
  width:100vw;
  overflow: hidden;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
}


.TopMenu{
max-height: 72px;
background: rgb(24, 48, 51);
color:#ffffff;

}

.Container{
  max-width:100%;
  display: flex;
  overflow-y: hidden;
  
}

.Right-Section {
  background-color: $myColor2;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
 
}
.Inner-Right-Section {
  border-radius: 4px;
  border: 1px solid rgb(224, 224, 224);
  height: fit-content;
  width: 95%;
  @media (min-width:0px) and (max-width:768px){
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
}
}

.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  h2{
    font-weight: bold;
  }
 
  @media (min-width:0px) and (max-width:450px){
    margin: unset;
    padding: 10px;
}

}

.clear{
  margin: 0px;
  list-style: none;
}

input,select{
width: 420px;
height: 32px;
background: rgb(255, 255, 255);
border: 1px solid rgb(217, 217, 217);
border-radius: 2px;
@media (min-width:0px) and (max-width:768px){
    width: unset;
}
}

label{

height: 18px;
color: rgba(0, 0, 0, 0.87);
font-size: 14px;
font-family: Arial;
font-weight: bold;
letter-spacing: 0px;
}

.checkbox,.radio{
height: 16px;
width: 16px;
margin: 0;
margin-right: 5px;
}

.Form-Group{
  display: flex;
  margin: unset;
}

.Width-100{
width: 100px;
}

.Flex{
  display: flex;
}

.P-25{
  padding: 25px 0px;
}

.PL-35{
  padding-left: 35px;
}

.MT-25{
  margin-top: 25px;
}

.MB-25{
  margin-bottom: 25px;
}

.MB-10{
  margin-bottom: 10px;
}


.Green{
background: rgb(0, 197, 163);
border-radius: 0px;
height: 32px;
border: none;
margin: 0 auto;
}

.GreenSubmit{
  background: rgb(0, 197, 163)!important;
  border-radius: 0px;
  height: 32px!important;
  width: 130px!important;
  border: none;
  color: #ffffff;
  }
